.entry-form
{
    width:30rem;
    margin:2rem auto;
    max-width:80%;
}

.form-control label,
.form-control input{
 display:block;
 width:100%;
}

.form-control input{
    font: inherit;
    padding: 0.1rem 0.25rem;
    border: none;
    border-bottom: 2px solid #ccc;
    margin-bottom: 1rem;
}
.form-control input:focus {
    outline: none;
    border-bottom-color: #ff2058;
}
#submit-button
{
    width:20rem;
    height:2rem;
    border-radius: 3px;
    background-color:#ff2058;
}

#submit-button:hover{
    cursor: pointer;
    background-color: white;
    color:rgb(70,153,179)
    
}
.entry-form__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  input.error{
    border-color:red;
  }

  .input-feedback{
    color:rgb(235,54,54);
    margin-top:-15px;
    font-size:14px;
    margin-bottom:20px
  }
  